body {
    display: flex;
    width: 100vw;
    position: relative;
}

.sidebar {
    display: flex;
    justify-items: left;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px;
    height: 100vh;
}

.sidebar .upper-part {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.upper-part  .logo {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
}

.logo img {
    width: 90px;
    height: auto;
}

.logo .name {
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.logo .name span{
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
}

.upper-part li{
    padding: 10px;
    font-size: larger;
}

.upper-part li a{
    color: grey;
}

.upper-part li:hover{
    background-color: var(--main-color);
}
.upper-part li:hover a{
    color: white;
}

.bottom-part{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom-part p{
    font-size: larger;
    color: black;
    text-transform: uppercase;
}

.bottom-part a{
    padding: 5px 15px;
    background-color: red;
    color: white;
    border-radius: 25px;
    width: max-content;
    border: 2px solid red;
}
.bottom-part a:hover{
    border: 2px solid red;
    background-color: white;
    color: red;
    transition: .3s;
}

.item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item-container .nav {
    width: 100%;
    height: 56px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.nav form input{
    width: 400px;
    padding: 7px 15px;
    border-radius: 50px;
    border: 1px solid grey;
    font-size: 15px;
    outline: none;
}


.nav form .form-input {
display: flex;
align-items: center;
height: 36px;
}

.nav form .form-input input {
flex-grow: 1;
padding: 0 16px;
height: 100%;
border: 2px solid gray;
border-radius: 36px 0 0 36px;
outline: none;
width: 100%;
color: var(--dark);
}

.nav form .form-input button {
    width: 50px;
    height: 100%;
    color: black;
    font-size: 18px;
    border: 2px solid gray;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}
.nav .buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav .buttons img {
width: 36px;
height: 36px;
border-radius: 50%;
object-fit: cover;
}

.buttons a {
    color: white;
    background-color: var(--main-color);
    padding: 6px 11px;
    border-radius: 15px;
}


.floating-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.item-container .items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    height: 95vh;
    overflow-y: auto;
    padding: 3rem;
}

.items .product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-height: 315px;
}

.product-item img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
}

.product-item .tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag h3{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 15px;
    text-transform:  capitalize;
}

.tag h2{
    color: var(--main-color);
    font-weight: 400;
    font-size: 25px;
}

.product-item p{
    color: grey;
    text-align: left;
    font-size: 11px;
    text-transform: capitalize;
}
.product-item .actions a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin: 1rem 0.5rem;
    font-size: 14px;
}

.product-item .actions a.btn-update {
    background-color: var(--main-color);
}

.product-item .actions a.btn-update:hover {
    background-color: rgb(39, 39, 151, .6);
}

.product-item .actions a.btn-remove {
    background-color: var(--select-color);
}

.product-item .actions a.btn-remove:hover {
    background-color: rgba(0, 0, 0, .5);
}


.close-btn {
    cursor: pointer;
    float: right;
    font-size: 35px;
    font-weight: 500;
    color: white;
    padding-right: 15px;
}

.close-btn:hover {
    color: red;
}

.form-content h2{
    font-size: 22px;
    font-weight: 600;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    text-align: center;
}

.form-content form {
    margin: 20px 0;
}

.form-content form .field {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    position: relative;
}

.form-content form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-content form .field input {
    outline: none;
}

.form-content form .image input {
    font-size: 17px;
}

.form-content form .button input {
    height: 45px;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 600;
    background: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 13px;
}

.form-content form fieldset {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-content form fieldset legend{
    font-size: 14px;
    color: grey;
}


.form-content form .button input:hover {
    background: rgb(39, 39, 151, .5);
    transition: .3s;
}